doctype html 
html
  head 
    title This is the first pug page 
  body 
    h1. 
      my first
      pug 
      on vscode 
    h2 
      | hi 
      | I use Pipe 
      | to make the indent
    main This is the main part of my page
    .my-div 
    #my-div 
    .my-div.red.big#ugly 
    a(href="https://www.google.com") Google
    link(rel='stylesheet' href='css/style.css')
    div(data-tmp='28' id='tmp')
    div#tmp(data-tmp='28')